$light-pink: #ffa69e;
$dark-pink: #ff686b;
$light-green: #a5ffd6;
$dark-green: #84dcc6;
$black: #000000;
$white: #ffffff;

@import "./navbar.scss";
@import "./home.scss";
@import "./items.scss";
@import "./itemModal.scss";
@import "./mediaQueries.scss";

body {
  margin: 0;
  font-family: Verdana, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
