.all-items-wrapper {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 0px;

    .search {
      padding-bottom: 10px;

      input {
        width: 250px;
        border-radius: 5px;
        height: 25px;
        border: 1px solid $black;
        font-family: Verdana, sans-serif;
      }

      button {
        background-color: $light-pink;
        font-family: Verdana, sans-serif;
        border: none;
        height: 25px;
        width: 100px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        &:hover {
          background-color: $dark-pink;
          transition: ease-in-out 0.5s;
          cursor: pointer;
        }
      }
    }

    .filter {
      select {
        width: 200px;
        border-radius: 5px;
        height: 25px;
        border: 1px solid $black;
        font-family: Verdana, sans-serif;
        margin: 0px 5px;
      }
    }
  }
}
.items-wrapper {
  padding: 10px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .item-wrapper {
    border: 2px solid $dark-green;
    background-color: $white;
    border-radius: 8px;
    margin: 20px;
    padding: 8px;
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    // justify-content: center;

    &:hover {
      background-color: $light-green;
      transition: ease-in-out 0.5s;
    }

    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 10px;
      height: 60%;
      img {
        width: 200px;
        height: 150px;
        object-fit: cover;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .details-wrapper {
      height: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .add-to-cart {
      margin: 10px 0px;
      display: flex;
      justify-content: center;

      button {
        background-color: $light-pink;
        border: none;
        height: 40px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        font-family: Verdana, sans-serif;

        &:hover {
          background-color: $dark-pink;
          transition: ease-in-out 0.5s;
          cursor: pointer;
        }
      }
    }
  }

  .no-items-wrapper {
    text-align: center;

    .link {
      padding-top: 15px;
      color: $dark-pink;
    }
  }
}
